{% extends 'base.html' %}

{% block content %}
{% load newsapp_tags %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{ title }}</h1>

            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between">
                    <span>
                    <i class="fas fa-table me-1"></i>
                    Список {{ title_plural }}
                    </span>
<!--                    <a href="#" class="btn btn-outline-primary">-->
                    <a href="{% url 'newsapp:client_new' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        <i class="text-end bi bi-person-plus"></i>
                        Добавить клиента
                    </a>
                </div>
                <div class="card-body">
                    Main page
                </div>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}

</div>
{% endblock content %}