{% extends 'base.html' %}

{% block content %}
{% load blog_tags %}
{% load newsapp_tags %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Главная страница {{ title }}</h1>
            <div class="row m-1 row-cols-2">
                <div class="col-lg-6">
                    <div class="card mb-4 h-100">
                        <div class="card-header">
                            <i class="fas fa-chart-pie me-1"></i>
                            Анализ рассылок
                        </div>
                        <div class="card-body">
                            <canvas id="myPieChart" width="100%" height="50"></canvas>
                        </div>
                        <div class="card-footer">Общее количество рассылок: {{ total_newsletter }}</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4 h-100">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Приток клиентов
                        </div>
                        <div class="card-body">
                            <canvas id="myAreaChart" width="100%" height="40"></canvas>
                        </div>
                        <p class="m-3">

                        </p>
                        <div class="card-footer">В нашей базе клиентов: {{ total_clients }} </div>
                    </div>
                </div>
            </div>
            <div class="row m-1 row-cols-3">
                {% for object in object_list %}
                <div class="card rounded-3 shadow-sm">
                    <div class="card-header w-100">
                        <h4 class="my-0 fw-normal">{{ object.title }}</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            {% if object.image %}
                            <img class="card-img-left img-thumbnail" src="{{ object.image|add_media }}">
                            {% endif %}
                        </p>
                        <p>
                            {{ object.short_content }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a type="button" href="{% url 'blog:blog_detail' object.slug  %}"
                           class="m-1 w-100 btn btn-lg btn-secondary">Подробнее</a>
                        {% if user.is_content_manager or blog.owner == user %}
                        <a type="button" href="{% url 'blog:blog_update' object.slug %}"
                           class="m-1 w-100 btn btn-lg btn-primary">Редактировать</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </main>
    {% include 'footer.html' %}

</div>

{% endblock content %}
