{% extends 'base.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{ title }}</h1>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                            <span>
<!--                            <i class="fas fa-table me-1"></i>-->
                            <h4 class="card-title">{{object.name}}</h4>
                            </span>
                                <a href="{% url 'newsapp:newsletter_edit' object.pk %}"
                                   class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                    <i class="text-end bi bi-person-plus"></i>
                                    Редактировать рассылку
                                </a>
                            </div>
                            <div class="text-muted">Создана {{object.created_at}}</div>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <b class="text-muted">Первая отправка: </b>
                                    {{object.first_mailing_at}}
                                </li>
                                <li class="list-group-item">
                                    <b class="text-muted">Периодичность: </b>
                                    {{object.get_periodic_display}}
                                </li>
                                <li class="list-group-item">
                                    <b class="text-muted">Статус: </b>
                                    {% if object.status == 'ON' %}
                                    <a href="{% url 'newsapp:status' object.pk 'detail' %}" class="link-success"
                                       data-bs-toggle="tooltip" title="Выключить рассылку">
                                        {{object.get_status_display}}
                                    </a>
                                    {% elif object.status == 'OFF' %}
                                    <a href="{% url 'newsapp:status' object.pk 'detail' %}" class="link-danger"
                                       data-bs-toggle="tooltip" title="Включить рассылку">
                                        {{object.get_status_display}}
                                    </a>
                                    {% else %}
                                    {{object.get_status_display}}
                                    {% endif %}
                                </li>
                                <li class="list-group-item">
                                    <b class="text-muted">Сообщение: </b>
                                    {{object.message}}
                                </li>
                                <li class="list-group-item">
                                    <b class="text-muted">Комментарий: </b>
                                    {{object.comment}}
                                </li>
                                <li class="list-group-item">
                                    <b class="text-muted">История: </b>
                                    <table id="datatablesSimple">
                                        <thead>
                                        <tr>
                                            <th>Начата</th>
                                            <th>Длительность</th>
                                            <th>Статус</th>
                                            <th>Ответ сервера</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in object.get_history %}
                                        <tr>
                                            <td>{{item.run_time}}</td>
                                            <td>{{item.duration}}</td>
                                            <td>
                                                {% if item.status == 'Error!' %}
                                                <div class="text-danger">Ошибка</div>
                                                {% elif item.status == 'Executed'%}
                                                Завершена
                                                {% else %}
                                                Выполняется
                                                {% endif %}
                                            </td>
                                            <td>{{item.exception}}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                            <!--                            <a href="#" class="btn btn-outline-primary">Перейти куда-нибудь</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}

</div>
{% endblock content %}